QLabel {
    min-width: 40em;
    max-width: 100em;
    min-height: 21em;
    font-style: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 10);
}

QWidget {
  background-color: rgba(255, 255, 255, 10);
}

QPushButton {
    max-width: 10em;
}
